@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LINQApplication.Models.Student.StudentDetailsList

@{
    ViewData["Title"] = "Index";
}

<div style="margin-top: 20px">
    <form method="post" class="form-group" id="inputSearchID">
        Search by:
        <select name="searchBy" style="padding:3px">
            <option value="id" selected>ID</option>
            <option value="name">Name</option>
            <option value="class">Class</option>
        </select>
        <input type="text" id="search" name="search" />
        Order by:
        <select name="orderBy" style="padding:3px">
            <option value="id" selected>ID</option>
            <option value="name">Name</option>
            <option value="class">Class</option>
        </select>
        <b><span> Range :</span></b>
        <input type="number" name="min" min="0" max="250000"/>
        <b><span>  To :</span></b>
        <input type="number" name="max" min="0" max="250000"/>
        <input type="button" value="search" data-attr="search" />
    </form>
</div>

<div id="loadOnStartUp">
    <partial name="_StudentListPartial" model="Model.studentList" />
</div>
<div id="loadAfterSearch" style="margin-top: 60px">
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/student.js"></script>
